body {
  overflow-x: hidden; /* cegah scroll horizontal global */
}

.sidebar-colors {
  background-color: #001e6c;
}

.label-provinsi {
  font-size: 20px !important;
  font-weight: bold;
  color: darkblue;
  text-shadow: 1px 1px 2px #fff; /* biar terbaca di atas peta */
}
.popup-provinsi {
  font-size: 10px !important;
  font-weight: bold;
  color: darkblue;
}

.geojson-style {
  color: #2543b1ff; /* garis border */
  weight: 1; /* ketebalan garis */
  fillcolor: rgb(204, 204, 204); /* warna isi */
  fillopacity: 0.3; /* transparansi */
}

.map-label {
  font-size: 9px;
  font-weight: bold;
  color: #000;
  text-shadow: 1px 1px 2px #fff;
}
.head-nasional {
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
}

.box-shadow {
  box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.25);
}
.isi {
  font-size: 17px;
}
.table-prov {
  font-size: 13px;
}

/* .combo_chart {
  width: "900px";
  margin: "0 auto";
} */

.combo_chart canvas {
  width: 100% !important;
  height: auto !important;
}

.title-namakab {
  font-size: 13px;
}

/* Style Logo */
/* Opsi 2 */
.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0; /* jarak atas bawah */
}

.sidebar-logo .logo-big {
  max-width: 40px; /* bisa digedein sesuai kebutuhan */
  /* border-radius: 50%; */
}

/* Opsi 1 */
/* .brand-logo-only {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0;
}

.brand-logo-only .brand-image {
  max-height: 40px;
  width: auto;
} */

/* Active */
.nav-link.active {
  background-color: #2198c7 !important; /* warna background merah */
  color: #fff !important; /* warna teks putih */
}

.row-item {
  border-bottom: 1px solid #ccc;
  padding: 2px;
  margin: 0;
}

.row-item:last-child {
  border: none;
}
.row-item:nth-child(odd) {
  background-color: #f9f9f9;
}
.row-item:nth-child(even) {
  background-color: #ffffff;
}
